-- Removed PRAGMA statements as they are not supported in PostgreSQL
-- Adjusted SQLite-specific syntax to PostgreSQL-compatible syntax

BEGIN TRANSACTION;
CREATE TABLE "user" (
	id SERIAL PRIMARY KEY, 
	username VARCHAR(80) NOT NULL UNIQUE, 
	email VARCHAR(120) NOT NULL UNIQUE
);
CREATE TABLE "note" (
	id SERIAL PRIMARY KEY, 
	title VARCHAR(200) NOT NULL, 
	content TEXT NOT NULL, 
	created_at TIMESTAMP, 
	updated_at TIMESTAMP, 
	tags TEXT, 
	event_date DATE, 
	event_time TIME, 
	todos TEXT, 
	position INTEGER
);

-- Adjusted INSERT statements for PostgreSQL compatibility
INSERT INTO "note" VALUES(3,'Play Badminton','Engage in a game of badminton, focusing on improving skills, enjoying the sport, and staying physically active.','2025-10-08 13:04:35.820148','2025-10-18 10:30:19.156405','sports,badminton,exercise',NULL,NULL,NULL,1);
INSERT INTO "note" VALUES(5,'B','second','2025-10-09 07:14:03.469154','2025-10-18 10:30:19.159407',NULL,NULL,NULL,NULL,3);
COMMIT;
